---
http_interactions:
- request:
    method: get
    uri: https://api.telegram.org/botsample-token/getMe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"id":130797810,"first_name":"TelegraphistTestBot","username":"GiveMeNameBot"}}'
  recorded_at: Thu, 08 Oct 2015 04:41:37 GMT
recorded_with: VCR 2.9.3
